html,
body {
    height: 100%;
}

.header {

    height: 45px;
    gap: 0px;
    opacity: 0px;
    background: #000000;
}

.header__heading {
    width: 250px;
    height: 36.01px;
    gap: 0px;
    opacity: 0px;
    background-color: #000000;
}