.toppage-header-nav {
    display: flex;
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;

    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #ffffff;
}

.request {
    background:#ffffff;
}

button.attendance_list__list {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: black;
    color: #ffffff;
}

button.attendance__link {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: black;
    color: #ffffff;
}

button.request__link {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: black;
    color: #ffffff;
}

button.logout-button {
    font-family: Inter;
    font-size: 24px;
    font-weight: 700;
    line-height: 29.05px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: black;
    color: #ffffff;
}

.request-detail th {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    letter-spacing: 0.15em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #737373;
}

.detail {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.36px;
    letter-spacing: 0.15em;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #000000;
}

.request-detail th,
.request-detail td {
    width: 900px;
    height: 0px;
    top: 453px;
    left: 306px;
    gap: 0px;
    border: 2px 0px 0px 0px;
    opacity: 0px;
    border-bottom: 2px solid #E1E1E1;
}

body {
    background: #e1e1e1;
}

ul {
    padding-left: 0;
    display:flex;
}

li {
    list-style: none;
    font-family: Inter;
        font-weight: 700;
        font-size: 16px;
        line-height: 19.36px;
        letter-spacing: 15%;
}

